<div class="container text-center">
  <h3 class="mb-4 text-uppercase">Projetos</h3>
  <div class="container">
    <div class="row text-center">
      <!-- Card 1 -->
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card" style="width: 18rem;">
          <img src="/assets/tic-tac-toe.png" class="card-img-top" alt="Imagem do jogo da velha">
          <div class="card-body">
            <p class="card-text">Tecnologias utilizadas:</p>
            <ul>
              <li><i class="fa-brands fa-js me-2"></i></li>
              <li><i class="fa-brands fa-html5 me-2"></i></li>
              <li><i class="fa-brands fa-css3-alt me-2"></i></li>
            </ul>
            <a href="https://gustavopilar.github.io/jogo-da-velha/" class="btn btn-primary" target="_blank">Jogo da velha</a>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card" style="width: 18rem;">
          <img src="/assets/to-do-list.png" class="card-img-top" alt="imagem de um to do list">
          <div class="card-body">
            <p class="card-text">Tecnologias usadas:</p>
            <ul>
              <li><i class="fa-brands fa-java me-2"></i></li>
            </ul>
            <a href="https://github.com/GustavoPilar/to-do-list-v1.0" class="btn btn-primary" target="_blank">To Do List</a>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card" style="width: 18rem;">
          <img src="/assets/truco.png" class="card-img-top" alt="imagem do jogo de truco">
          <div class="card-body">
            <p class="card-text">Tecnologias usadas:</p>
            <ul>
              <li><i class="fa-brands fa-java me-2"></i></li>
            </ul>
            <a href="https://github.com/GustavoPilar/Jogo-Truco" class="btn btn-primary" target="_blank">Truco</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
