@media screen and (max-width: 900px) {
    header, footer {
        display: block;
        height: 200px;
    }

    div.logo {
        margin: 10px auto;
        height: 100px;
    }

    .links {
        width: 100%;
        height: 80px;
    }

    .links a {
        width: 70px;
        font-size: .7rem;
    }

    main section.information {
        display: block;
        width: 100%;
        padding: .0;
    }

    main section#information-top div#image-me {
        margin: auto;
        border-radius: 50px;
        width: 70%;
        height: 50%;
    }

    main section.information div.information-me {
        width: 100%;
    }

    main section.information div#list-skills {
        width: 100%;
    }

    main section#information-bottom {
        height: 100px;
    }
        
}