@media screen and (max-width: 768px) {
    header, footer {
        display: block;
        height: 200px;
    }

    div.logo {
        margin: 10px auto;
        height: 100px;
    }

    .links {
        width: 100%;
        height: 80px;
    }

    .links a {
        width: 70px;
        font-size: .7rem;
    }

    main {
        width: 100%;
        padding: 0;
    }

    main section#information-top {
        display: block;
        width: 100%;
        padding: .0;
    }

    main section#information-top div#image-me {
        margin: auto;
        border-radius: 50%;
        width: 60%;
        height: 50%;
    }

    main section#information-top div#information-me {
        width: 100%;
    }

}