@charset "UTF-8";

/* TYPICAL DEVICES BREAKPOINTS
------------------------------
telas pequenas = até 600px
Celular = 600px até 768px
tablet = 768px até 992px
desktops = 992 até 1200px
Telas grandes = acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 1200px){
    header div#img {
        max-width: 400px;
        height: 300px;
    } 

    header p {
        width: 50%;
        margin: auto;
    }

    main {
        height: 200px;
    }
}

@media screen and (min-width: 1200px) {
    header {
        height: 600px;
    }
    header div#img {
        width: 500px;
        height: 500px;
    } 

    main {
        width: 80%;
        height: 200px;
    }
}