@charset "UTF-8";

/* FIRST MOBILE */

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}


/* HEADER */
header {
    background-color: rgb(241, 241, 241);
    width: 100%;
    height: 400px;
    padding: 20px 0 0 0;
    text-align: center;
}

header div#img {
    width: 300px;
    height: 300px;
    background: url(../img/Eu.jpg) center top;
    background-size: cover;
    margin: auto;
    border: 1px solid black;
    border-radius: 100px;
}

header p {
    padding: 10px;
    font-size: .7em;
}


/* MAIN */
main {
    margin: auto;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: stretch;
}

section {
    width: 50%;
    height: 60%;
    text-align: center;
    justify-content: center;
}


main section#section_info p {
    padding-top: 30px;
    color: gray;
}

main section#section_button {
    padding-top: 40px;
}

main section#section_button div {
    background-color: rgb(54, 98, 232);
    width: 90%;
    height: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 30px;
}

main section#section_button div a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}


/* FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer ul li {
    display: inline;
    margin: 0 25px;
}

footer ul li a {
    color: black;
}

footer i {
    font-size: 2em;
}