@charset "UTF-8";

/* TYPICAL DEVICES BREAKPOINTS
------------------------------
telas pequenas = até 600px
Celular = 600px até 768px
tablet = 768px até 992px
desktops = 992 até 1200px
Telas grandes = acima de 1200px
*/

@media screen and (max-width: 768px) {
    main {
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 10px auto;
    }
    
    main span a {
        color: black;
        text-decoration: none;
        font-size: 25px;
        text-transform: capitalize;
    }
    
    main section {
        width: 90%;
        display: block;
    }
    
    main section article {
        width: 90%;
        height: 450px;
        margin: 15px auto;
        border-radius: 10px;
        padding: 10px;
    }
    
    main section article h2 {
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    
    main section article div {
        width: 100%;
        height: 300px;
        margin: 10px auto;
        border: 2px solid black;
        border-radius: 10px;
    }
    
    main section article div img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}