@charset "UTF-8";

/* TYPICAL DEVICES BREAKPOINTS
------------------------------
telas pequenas = até 600px
Celular = 600px até 768px
tablet = 768px até 992px
desktops = 992 até 1200px
Telas grandes = acima de 1200px
*/

@media screen and (max-width: 767px) {

    header {
        height: 100px;
        padding: 0 10px;
    }

    main section {
        display: block;
    }

    main section article {
        height: 370px;
        width: 300px;
        margin: 15px auto;
    }

    main section article div {
        width: 100%;
        height: 250px;
        margin: 10px auto;
        border: 2px solid black;
        border-radius: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    main section {
        width: 95%;
    }

    main section article {
        height: 450px;
        width: 350px;
    }

    main section article div {
        width: 100%;
    }
}