<div class="container text-center mt-3">
  <div>
    <img src="/assets/Eu.png" class="img-thumbnail mx-auto" alt="Foto de Perfil" [style.width.em]="imgPerfilWidth">
  </div>
  <div class="container">
    <h1>Olá, me chamo Gustavo Pilar</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione, repellendus rem cum aliquid doloribus libero? Autem alias perspiciatis placeat? Ratione tempore, voluptatem iure consectetur illo omnis commodi exercitationem incidunt neque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, voluptatibus obcaecati, accusantium numquam perspiciatis inventore similique error ratione vero optio vel doloribus facilis, odio sapiente odit? Quae praesentium nihil minus!
    </p>
  </div>
</div>
