@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body{
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    border-radius: 50%;
    margin: 20px auto;
    color: rgb(173, 173, 173);
}

/* HEADER */
header {
    height: 85px;
    background-color: rgb(217, 217, 217);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 10px;
}

header h1 {
    width: 85px;
}

header div {
    width: 140px;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}
header div ul li a {
    color: black;
    text-decoration: none;
}

header div img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
}

/* MAIN */
main {
    width: 100%;
    padding: 10px;
    text-align: center;
}

main span a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    text-transform: capitalize;
}

main section {
    margin: 30px 0;
}

main article {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    margin-top: 10px;
}

main article div.icon {
    background-color: rgb(241, 241, 241);    
    text-align: center;
    width: 80px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.365);
}

main article div.icon span{
    font-size: 30px;
    margin: 25%;
}

main article h3 {
    width: 150px;
    text-align: center;
}

main article a {
    color: rgb(54, 98, 232);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(222, 222, 222);
    width: 100px;
    padding: 12px 0;
    text-align: center;
    border-radius: 25px;
}

main article a:hover  {
    background-color: rgb(198, 198, 198);  
}

hr.row {
    width: 80%;
    margin: 10px auto;
}

/* FOOTER */
footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    color: #166295;
    text-decoration: none;
    transition-duration: 2s;
}
