@charset "UTF-8";

/* FIRST MOBILE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body{
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    border-radius: 50%;
    margin: 20px auto;
    color: rgb(173, 173, 173);
}


/* HEADER */
header {
    background-color: rgb(241, 241, 241);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: 1px solid;
}

header div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

header div img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


/* MAIN */

main {
    width: 100%;
    padding: 10px;
}

main span a {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
}

main section {
    margin: 10px 0;
}

main div#foto {
    width: 100%;
    height: 280px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 1px 10px 0px rgba(0, 0, 0, 0.365);
    background: url(../img/certificado-ingles.PNG);
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

main div#foto p::before {
    content: 'JS';
    background-color: yellow;
    border: 2px solid black;
    color: black;
    font-weight: bold;
}

main div#foto a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(54, 98, 232);
    height: 45px;
    width: 100px;
    padding: 12px 0;
    text-align: center;
    border-radius: 30px;
}

main div#foto a:hover {
    background-color: rgb(58, 106, 250);
}

main article {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    margin: 10px 0;
}

main article div.icon {
    background-color: rgb(241, 241, 241);    
    text-align: center;
    width: 70px;
    padding: 20px 0;
    height: 70px;
    border-radius: 10px;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.365);
}

main article div.icon i {
    font-size: 18px;
    margin-top: 5px;
}

main article a {
    color: rgb(54, 98, 232);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(222, 222, 222);   
    height: 45px;
    width: 100px;
    padding: 12px 0;
    text-align: center;
    border-radius: 30px;
}

main article a:hover  {
    background-color: rgb(198, 198, 198);  
}

hr.row {
    width: 80%;
    margin: 10px auto;
}

/* FOOTER */
footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    color: #166295;
    text-decoration: none;
    transition-duration: 2s;
}